{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
  .img-fluid {
    height:10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: cover;
}
.column {
  float: left;
  height: 360px;
  padding: 20px 45px;
  display: table-cell;
}
.container{
  display: table;
  width: 100%;
  height:10vw;
  object-fit: cover;
}
.footer {
  position:fixed;
  font-size: 19px;
   left: 0;
   bottom: 0;
   margin-top: 13px;
   padding-bottom: 0px;
   width: 100%;
   background-color:transparent;
   color: black;
   text-align: center;
}
</style>
  {% for course in courses %}
  <div class="column">
    <div class="card" >
       <div class="container">
        <a href="{% url 'main:detail' course.id %}" style="color: black;">
        <img src="{{course.image}}" alt="" class="img-fluid">
        </a>
      </div>
       <div class="container">
        <a href="{% url 'main:detail' course.id %}" style="color: black;">
        <br>
        <h3 class="text-center"><strong>{{course.name}}</strong></h3>
        <br>
        </a>
      <i class="text-center">{{course.site}}</i>
      <br>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>    
  {% endfor %}
  <div class="footer">
    <br>
    <br>
    <br>
    <br>

    {% if courses.has_previous %}
  <a href="{% url 'main:home' %}?page={{courses.previous_page_number}}"> Previous Page  </a>
  {% endif %}

  <span clas="">
    Page {{courses.number }} of {{courses.paginator.num_pages}} . 
  
  </span>

  {% if courses.has_next %}
  <a href="{% url 'main:home' %}?page={{courses.next_page_number}}"> Next Page </a>
  {% endif %}
  </div>


</div>

{% endblock %}
