<!-- {% extends 'main/index.html' %}
<div class="">
    
<span class="">
    {% if courses.has_previous %}
      <a href="{% url 'main:home' %}?page={{courses.previous_page_number}}"> Previous Page  </a>
      {% endif %}
    </span>
      <span clas="">
        Page {{courses.number }} of {{courses.paginator.num_pages}} . 
      
      </span>
    <span class="">
      {% if courses.has_next %}
      <a href="{% url 'main:home' %}?page={{courses.next_page_number}}"> Next Page </a>
      {% endif %}
    </span>
</div> -->